@media (max-width : 1000px) {
        /* CSS untuk tabled */
        .list-item {
            flex-wrap: wrap;
        }
        
        .list-item li{
            width: 50%;
            padding: 20px;
            margin-bottom: 5px;
        }

        .arrow{
            position: absolute;
            top: 140%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .menu-logo {
            display : none;
        }

        .tim {
            width: 100%;
        }

        .atas, .bawah {
            text-align: center;
        }

        .heading p {
            font-size: normal;
        }
    }

@media (max-width : 670px) {
    /* CSS untuk Smartphone */
    .list-item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .list-item li{
        width: 50%;
    }

    .list-item img {
        width: 75%;
    }

    .atas, .bawah {
        text-align: center;
    }

    .arrow{
        position: absolute;
        top: 140%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .heading p {
        font-size: normal;
    }

    .header-kanan {
        display : none;
    }

    .menu-logo {
        display : block;
    }
}